@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <section>
        <div class="row">
            <div class="=col-md-12">
                <h1 style="text-align:center; color:deeppink; font-family:Elephant">CONSUMO DE APIS</h1>
            </div>
        </div>
    </section>


    <section>
        <div class="row">
            <div class="=col-md-12">
                <h1 style="text-align:center; color:hotpink; font-family:Elephant">USUARIOS</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="=col-md-12">
                <button type="button" id="newUserBtn" class="btn btn-info">Nuevo Usuario </button>
                <button type="button" id="clearTableBtn" class="btn btn-danger">Limpiar Tabla</button>
            </div>
        </div>
    </section>

    <table id="userTable" class="table table-bordered ">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Dirección</th>
                <th>Género</th>
                <th>Foto de Perfil</th>
            </tr>
        </thead>

        <tbody></tbody>

    </table>
  

</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js

"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            function getNewUser() {
                $.ajax({
                    url: 'https://randomuser.me/api/',
                    dataType: 'json',
                    success: function (data) {
                        var user = data.results[0];
                        var fullName = user.name.first + ' ' + user.name.last;
                        var email = user.email;
                        var address = user.location.street.name + ', ' + user.location.city + ', ' + user.location.country;
                        var gender = user.gender;
                        var picture = user.picture.medium;

                        var newRow = '<tr>' +
                            '<td>' + fullName + '</td>' +
                            '<td>' + email + '</td>' +
                            '<td>' + address + '</td>' +
                            '<td>' + gender + '</td>' +
                            '<td><img src="' + picture + '" alt="Profile Picture"></td>' +
                            '</tr>';

                        $('#userTable tbody').append(newRow);
                    }
                });
            }

            $('#newUserBtn').click(function () {
                getNewUser();
            });

            $('#clearTableBtn').click(function () {
                $('#userTable tbody').empty();
            });
        });
    </script>
